* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#users {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
}
.d-flex {
	width: 100%;
	display: flex;
}
.justify-content-around {
	justify-content: space-around;
}
.user {
	margin: 20px;
}
